/* Apply CSS styles to the map container */
#map {
    height: 100vh; /* Adjust the height of the map container */
    width: 100%; /* Ensure the map container takes up the entire width */
    margin: 0;
    padding: 0;
  }
  